html, body {
    margin: 0;
    padding: 0.5rem;
}

h1 {
    margin: 0 0 1rem 0;
}

#status {
    color: #666;
    font-family: monospace;
}

/* Remove this for a privileged app - the install button doesn't make
 * sense in those contexts */
.hidden {
    display: none;
}

/* ----------------------- */
