html, body {
    margin: 0;
    padding: 0;
}

#status {
    color: #666;
}

/* Remove this for a privileged app - the install button doesn't make
 * sense in those contexts */
.hidden {
    display: none;
}

/* ----------------------- */
